input.title {width : 95% !important;}
span.input_title { display:inline-block ; width : 60px ; margin : 0 0 0 0 ;}
input.iText.title {width : 800px !important ;}

div.space{ display:inline-block ; width:50px;}

.section label {display:inline !important;}