<style>
td.nowr { padding-top:14px !important;}

tr.myturn td {background-color : #cccccc;}
tr.processing td {background-color : #a2d4e3;}
tr.share td {background-color : #cccccc;}
.myturnBox{display:inline-block;background:orange;padding:3px;border-radius:3px;font-weight:bold;margin:0 5px 0 0}
.processingBox{display:inline-block;background:#016f96;padding:3px;border-radius:3px;font-weight:bold;margin:0 5px 0 0;color:#fff}
.okBox{display:inline-block;background:#666;color:#fff;padding:3px;border-radius:3px;font-weight:bold;margin:0 5px 0 0}


.fff {color:#FF9600;}
.ddd {color:#016F96;}
.small-label {font-size:11px; color :#003388; }
.gb-label {font-size:11px; color:#D9534F;}




/*김지민*/
.panel-body {background-color:#f5f5f5; border-bottom:solid 1px #ddd; padding:20px}
.right_form{margin-bottom:0; width:500px; display:inline-block; float:right}
.page{display:inline-block; padding-top:7px; font-family:arial}
.page .h_page{color:#777}
.page em {font-style:normal; font-weight:bold}
.page .num {font-weight:bold; color:#367fa9}
</style>


<div class="wrap">

	<div class="row index-row">
		<div class="col-xs-12 page-title">
			<div class="col-xs-7 pull-left"><h3>{$browser_title}</h3></div>
			<div class="col-xs-5 text-right">
				<div class="btn-group">
					<a href="{getSiteUrl('','type', __AUTH_OWNER__ ,'search_keyword','')}" class="btn <!--@if ($type==__AUTH_OWNER__)-->btn-danger<!--@else-->btn-default<!--@end-->">내문서</a>
					<a href="{getSiteUrl('','type', __AUTH_PROCESSING__ ,'search_keyword','')}" class="btn <!--@if ($type==__AUTH_PROCESSING__)-->btn-danger<!--@else-->btn-default<!--@end-->">진행중</a>
					<a href="{getSiteUrl('','type', __AUTH_COMPLETE__ ,'search_keyword','')}" class="btn <!--@if ($type==__AUTH_COMPLETE__)-->btn-danger<!--@else-->btn-default<!--@end-->">완료</a>
					<a href="{getSiteUrl('','type', __AUTH_SHARE__ ,'search_keyword','')}" class="btn <!--@if ($type==__AUTH_SHARE__)-->btn-danger<!--@else-->btn-default<!--@end-->">참조</a>
				</div>
				<a href="{getSiteUrl('', 'mid', $mid , 'act' , 'dispEapprvLineSetting' )}"><button type="button" style="border:0px"><img src="images/option.png" style="border:0px;width:28px;height:30px;cursor:pointer;"> </button></a>
				<a href="{getUrl('mid', $mid ,'act' ,'dispEapprvWrite')}"><button class="btn btn-primary" >쓰기</button></a>
			</div>
		</div>
	</div>

<div class="col-xs-12 pg-eapprv lst">
	<div class="box box-default ">
		<div class="panel-body">
		<div class="page">
			<span class="h_page">페이지</span> <em>{number_format($page_navigation->cur_page)}</em> /{number_format($page_navigation->total_page)} &nbsp;&nbsp;&nbsp;총 <span class="num">{number_format($page_navigation->total_count)}</span> 개
		</div>

			<form name="frm1" action="/" class="right_form" method="post">
				<input type="hidden" name="sort_order" value="{$sort_order}" >
				<input type="hidden" name="type" value="{$type}" >
				<input type="hidden" name="error_return_url" value="" >
				<div class="input-group">
					<input type="text" class="form-control" name="search_keyword" value="{$search_keyword}" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">검색</button>
					</span>

					<select class="selectpicker form-control" onchange="document.frm1.submit()" name="search_member_srl">
						<option value="">요청자 선택</option>
						<option loop="$wmc_members=>$no,$val" value="{$no}" selected|cond="$no==$search_member_srl">{$val}</option>
					</select>
				</div><!-- /input-group -->
			</form>
		</div>



		<table id="boardList" class="table x_table-striped x_table-hover">
			<thead>
				<tr>

					<th scope="col" class="nowr">{$lang->no}</th>
					<th scope="col" class="nowr">  제목
						<input type="hidden" name="type" value="{$type}"><!--  <input type="text" name="search_keyword" value="{$search_keyword}" maxlength='30' size="30"> -->
					</th>
					<!-- <th scope="col" class="nowr"> 요청팀</th> -->
					<th scope="col" class="nowr"> 요청자</th>
					<th scope="col" class="nowr"> 종류 </th>
					<th scope="col" class="title">결재상태</th>
					<th scope="col" class="title">재무결재상태</th>
					<th scope="col" class="title">접수상태</th>
					{@
						if(!$sort_order)  $sort_order ='desc';
						if($sort_order =='desc') $sort_order ='asc';
						else if($sort_order =='asc') $sort_order ='desc';
					}
					<th scope="col" class="nowr"><a href="{getUrl('sort', 'regdate','sort_order', $sort_order)}">{$lang->regdate}</a></th>
				</tr>
			</thead>
			<tbody>
				<!--  내가 결재해야 할 문서  -->
				<block cond="$type==__AUTH_OWNER__">
					<tr loop="$list_myturn => $no,$val" class="myturn">
						{@ $memo_xml = simplexml_load_string( $val->memo_xml ) ;}

						<td class="nowr"><span class="glyphicon glyphicon-info-sign fff" aria-hidden="true"></span></td>
						<td class="nowr text-left"><a href="{getUrl('','mid', $mid , 'act' , 'dispEapprvContent','eapprv_srl', $val->eapprv_srl, 'type', $type, 'search_keyword', $search_keyword )}"><span class="myturnBox">결재요망</span>{cut_str($val->title, 50)}</a> <span class="badge">{$val->comment_count}</span></td>
						<!-- <td class="nowr">{$val->find_account_answer}</td> -->
						<td class="nowr">{$val->user_name}</td>
						<td class="nowr">
							<!--@if ($memo_xml->work_gb_a1=='A1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a2=='A2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a3=='A3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a4=='A4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b1=='B1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b2=='B2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b3=='B3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b4=='B4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b5=='B5') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B5']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_c=='C') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c2=='C2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c3=='C3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_d=='D') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['D']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db1=='DB1')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB1']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db2=='DB2')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db3=='DB3')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db4=='DB4')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB4']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db5=='DB5')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB5']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_e=='E') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['E']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_x=='X') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['X']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_r=='R') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['R']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_u=='U') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['U']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_cs=='CS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['CS']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_web=='WEB') --><i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['WEB']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_ds=='DS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['DS']}</span><!--@end-->
						</td>
						<td class="title"><img src="./images/{$val->stt1}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt2}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt3}.png" width="70px"/></td>
						<td class="nowr">{zdate($val->regdate,"Y-m-d")}</td>

					</tr>
					<tr cond="count($list_myturn)==0" class="myturn">
						<td colspan="9" align="center">현재 결재해야 할 문서가 없습니다. </td>
					</tr>

					<!--  진행 중인 문서 --->
					<tr loop="$list_processing => $no,$val" class="processing">
						{@ $memo_xml = simplexml_load_string( $val->memo_xml ) ; }
						<td class="nowr"><span class="glyphicon glyphicon-asterisk ddd" aria-hidden="true"></span></td>
						<td class="nowr text-left"><a href="{getUrl('','mid', $mid , 'act' , 'dispEapprvContent','eapprv_srl', $val->eapprv_srl, 'type', $type,'search_keyword', $search_keyword )}"><span class="processingBox">진행중</span>{cut_str($val->title, 50)} </a> <span class="badge">{$val->comment_count}</span></td>
						<!-- <td class="nowr">{$val->find_account_answer}</td>  -->
						<td class="nowr">{$val->user_name}</td>
						<td class="nowr"> {$memo_xml->work_gb_a3}
							<!--@if ($memo_xml->work_gb_a1=='A1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a2=='A2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a3=='A3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a4=='A4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b1=='B1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b2=='B2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b3=='B3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b4=='B4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b5=='B5') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B5']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_c=='C') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c2=='C2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c3=='C3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_d=='D') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['D']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db1=='DB1')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB1']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db2=='DB2')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db3=='DB3')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db4=='DB4')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB4']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db5=='DB5')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB5']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_e=='E') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['E']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_x=='X') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['X']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_r=='R') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['R']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_u=='U') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['U']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_cs=='CS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['CS']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_web=='WEB') --><i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['WEB']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_ds=='DS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['DS']}</span><!--@end-->
						</td>
						<td class="title"><img src="./images/{$val->stt1}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt2}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt3}.png" width="70px"/></td>
						<td class="nowr">{zdate($val->regdate,"Y-m-d")}</td>
					</tr>
					<tr cond="count($list_processing)==0" class="processing">
						<td colspan="9" align="center">현재 진행 중인 문서가 없습니다. </td>
					</tr>

					<!--  새로운 참조 중인 문서 --->
					{@debugPrint( $list_newsharelist); }
					<tr loop="$list_newsharelist => $no,$val" class="myturn">
						{@ $memo_xml = simplexml_load_string( $val->memo_xml ) ; }
						<td class="nowr"><span class="glyphicon glyphicon-asterisk ddd" aria-hidden="true"></span></td>
						<td class="nowr text-left"><a href="{getUrl('','mid', $mid , 'act' , 'dispEapprvContent','eapprv_srl', $val->eapprv_srl, 'type', $type,'search_keyword', $search_keyword )}"><span class="myturnBox">New 참조</span>{cut_str($val->title, 50)} </a>   <span class="badge">{$val->comment_count}</span></td>
						<!--<td class="nowr">{$val->find_account_answer}</td>-->
						<td class="nowr">{$val->user_name}</td>
						<td class="nowr">{$memo_xml->work_gb_a3}
							<!--@if ($memo_xml->work_gb_a1=='A1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a2=='A2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a3=='A3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_a4=='A4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b1=='B1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B1']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b2=='B2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B2']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b3=='B3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B3']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b4=='B4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B4']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_b5=='B5') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B5']}</span>  <!--@end-->
							<!--@if ($memo_xml->work_gb_c=='C') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c2=='C2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_c3=='C3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_d=='D') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['D']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db1=='DB1')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB1']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db2=='DB2')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB2']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db3=='DB3')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB3']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db4=='DB4')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB4']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_db5=='DB5')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB5']}</span> <!--@end-->
							<!--@if ($memo_xml->work_gb_e=='E') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['E']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_x=='X') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['X']}</span>   <!--@end-->
							<!--@if ($memo_xml->work_gb_r=='R') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['R']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_u=='U') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['U']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_cs=='CS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['CS']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_web=='WEB') --><i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['WEB']}</span><!--@end-->
							<!--@if ($memo_xml->work_gb_ds=='DS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['DS']}</span><!--@end-->
						</td>
						<td class="title"><img src="./images/{$val->stt1}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt2}.png" width="70px"/></td>
						<td class="title"><img src="./images/{$val->stt3}.png" width="70px"/></td>
						<td class="nowr">{zdate($val->regdate,"Y-m-d")}</td>
					</tr>
				</block>
				
				<tr loop="$list => $no,$val">
					{@ $memo_xml = simplexml_load_string( $val->memo_xml ) ; }
					<td class="nowr">{$page_navigation->total_count - $no -($page_navigation->cur_page -1) * 20 }</td>
					<td class="nowr text-left"><a href="{getUrl('','mid', $mid , 'act' , 'dispEapprvContent','eapprv_srl', $val->eapprv_srl, 'type', $type , 'page', $page,'search_keyword', $search_keyword )}"><span class="okBox">{$type_label}</span>{cut_str($val->title, 50)} </a> <span class="badge">{$val->comment_count}</span></td>
					<!-- <td class="nowr">{$val->find_account_answer}</td> -->
					<td class="nowr">{$val->user_name} {$memo_xml->work_gb_b3}</td>
					<td class="nowr"> {$memo_xml->work_gb_a3}
						<!--@if ($memo_xml->work_gb_a1=='A1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A1']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_a2=='A2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A2']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_a3=='A3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A3']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_a4=='A4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['A4']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_b1=='B1') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B1']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_b2=='B2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B2']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_b3=='B3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B3']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_b4=='B4') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B4']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_b5=='B5') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['B5']}</span>  <!--@end-->
						<!--@if ($memo_xml->work_gb_c=='C') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_c2=='C2') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C2']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_c3=='C3') -->  <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['C3']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_d=='D') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['D']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_db1=='DB1')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB1']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_db2=='DB2')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB2']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_db3=='DB3')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB3']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_db4=='DB4')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB4']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_db5=='DB5')--> <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['DB5']}</span> <!--@end-->
						<!--@if ($memo_xml->work_gb_e=='E') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['E']}</span>   <!--@end-->
						<!--@if ($memo_xml->work_gb_x=='X') -->    <i class="fa fa-tag gb-label"></i><span class='small-label'>{$lang->eapprv_document_kind['X']}</span>   <!--@end-->
						<!--@if ($memo_xml->work_gb_r=='R') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['R']}</span><!--@end-->
						<!--@if ($memo_xml->work_gb_u=='U') -->    <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['U']}</span><!--@end-->
						<!--@if ($memo_xml->work_gb_cs=='CS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['CS']}</span><!--@end-->
						<!--@if ($memo_xml->work_gb_web=='WEB') --><i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['WEB']}</span><!--@end-->
						<!--@if ($memo_xml->work_gb_ds=='DS') -->  <i class="fa fa-tag gb-label"></i><span class="small-label">{$lang->eapprv_document_kind['DS']}</span><!--@end-->
					</td>
					<td class="title"><img src="./images/{$val->stt1}.png" width="70px"/></td>
					<td class="title"><img src="./images/{$val->stt2}.png" width="70px"/></td>
					<td class="title"><img src="./images/{$val->stt3}.png" width="70px"/></td>
					<td class="nowr">{zdate($val->regdate,"Y-m-d")}</td>

				</tr>
				<tr cond="count($list)==0">
					<td colspan="9" align="center">{$type_label}상태의 문서가 없습니다. </td>
				</tr>

			</tbody>
		</table>

		<div class="panel-footer">
			<!-- 페이지 네비게이션 -->
			<ul class="pagination">
				<li><a href="{getUrl( 'mid', $mid ,'page','','module_srl','')}" class="prevEnd">{$lang->first_page}</a></li>
				<!--@while($page_no = $page_navigation->getNextPage())-->
				<!--@if($page == $page_no)-->
				<li class="active"><a href="{getUrl( 'mid', $mid ,'page','','module_srl','')}">{$page_no}</a></li>
				<!--@else-->
				<li><a href="{getUrl( 'mid', $mid ,'page',$page_no,'module_srl','')}">{$page_no}</a></li>
				<!--@end-->
				<!--@end-->
				<li><a href="{getUrl( 'mid', $mid, 'page',$page_navigation->last_page,'module_srl','')}" class="nextEnd">{$lang->last_page}</a></li>
			</ul>
		</div>

	</div>

	<div class="pull-right">
			<a href="{getUrl('mid', $mid ,'act' ,'dispEapprvWrite')}"><button class="btn btn-primary" >쓰기</button></a>
	</div>
</div>

</div>

